.debug [class*='col-']{
  background-color: lightblue;
  border: 1px solid black;
  height: 100px;
}

/* start jumbotron */
#jumbotron{
  background-color: blue;
  height: 500px;
  margin-top: 50px;
}

/* end jumbotron */

/* loghi */
#loghi{

}
/* end loghi */


/* start deploy */
#deploy{

}
/* end deploy */
