.debug [class*='col-']{
  background-color: lightblue;
  border: 1px solid black;
  height: 100px;
}

.bg_white{
  background-color: white;
  border-radius: 10px;
}

.bg_lightgrey{
  background-color: lightgrey;
}

.margin_top3{
  margin-top: 30px;
}

.color_white{
  color: white;
}

.color_grey{
  color: grey;
}

.uppercase{
  text-transform: uppercase;
}

.top_10{
  margin-top: 10px;
}

.top_20{
  margin-top: 20px;
}

.top_40{
  margin-top: 40px;
}

.bottom_10{
  margin-bottom: 10px;
}

.bottom_20{
  margin-bottom: 20px;
}

.bottom_40{
  margin-bottom: 40px;
}

.top_40{
  padding-top: 40px;
}

.padding_bottom{
  padding-bottom: 15px;
}


.title{
  font-size: 35px;
  text-align: center;
}

.title_white{
  font-size: 35px;
  text-align: center;
  color: white;
}

.subtitle{
  font-size: 20px;
  text-align: center;
}

/* end classi riutilizzabili */
/* start jumbotron */
/* nav */
header{
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header_navbar{
  background-color: white;
  width: 100%;
  height: 90px;
  line-height: 90px;
}

header a img{
  height: 30px;
}

.header_hamburger_menu i{
  line-height: 70px;
  cursor: pointer;
  opacity: 0.8;
  color: #0069FF;
  font-size: 120%;
}


.header_navbar_ul > li{
  line-height: 70px;
  margin-right: 5px;
}

/* freccia in giu */
ul.header_navbar_ul > li.drop::after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  margin-left: 2px;
}


/* end nav */
#jumbotron h1{
  font-size: 55px;

}

#jumbotron h3{
  color: #0248FF;
}

#jumbotron p a{
  text-decoration: underline;
  color: #0940E9;
}

#jumbotron{
  background-image: url('../img/bg-home-1.jpg');
  height: 600px;
  margin-top: 50px;
}

/* end jumbotron */

/* loghi */
#loghi{
  background-color: rgba(0, 0, 0, 0.05);
  /* height: 500px; */
}

.loghi img{
  height: 50px;
  vertical-align: middle;
  text-align: center;
}



/* end loghi */


/* start deploy */
#deploy ul li {
  list-style: none;
}

#deploy ul li a{
  text-decoration: none;
}



#deploy img{
  background-size: cover;
  top: 0;
  left: 0;

}
/* end deploy */

/* start designed */
#designed{
  background-color: rgba(0, 0, 0, 0.05);
  height: 600px;
}

#designed img{
  margin-top: 30px;
  width: 80%;
}

/* end designed */
/* features */
#features a{
  color: #0049FF;
  text-decoration: none;

}

#features a:hover{
  color: purple;
}
/* end features */

/* world */
#world{
  background-color: #0049FF;
  padding-bottom: 50px;
}

#world .sigla{
  text-transform: uppercase;
  color: white;

}

#world a{
  color: lightblue;
  text-decoration: none;
}

#world a:hover{
  color: violet;
}

.row_dati{
  padding: 20px 20px;
  line-height: 20px;
  color: white;
}

.row_dati:not(:last-child){
  border-bottom: 1px solid white;
}

#world .link{
  color: lightblue;

}



/* end world */
/* start development */
#development{
  height: 600px;
}

.rockerbox{
  background-color: white;
  margin-top: 50px;
  padding: 50px;
}

.rockerbox img{
  height: 50px;
  margin-top: 50px;
}



/* end development */
/* start account */
#account{
  height: 300px;
  background-color: #0049FF;
}

#account .title_white{

}


#account .btn_account {
  padding: 10px 15px;
  color: blue;
  font-size: 20px;
}
/* end account */
/* end main */
/* start footer */
footer{
  background-color: #010E28;
}

.icone ul li{
  display: inline-block;
  font-size: 20px;

}

.icone ul li a{
  color: grey;

}


footer ul li a{
  margin-left: 0;
  color: grey;
}

footer p{
  color: grey;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 0;
}


.made_by{
  padding-top: 0;
  margin-top: 0;

}

footer img{
  height: 35px;
}

footer ul li{
  list-style: none;
  padding: 5px;
}

footer h4{
  color: white;
}

footer ul li a{
  color: white;
}

/* end */
